<%- include("../partials/header") %>

<h1 class="headh1">
	Results for: <%=searchTerm%>
</h1>
<div class="container bg-dark">
	<div class="row">
		<% pictures.forEach(function(picture){ %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail" id="shadow">
					<a href="<%= picture.author.username%>/<%=picture._id%>">
					<img src="<%=picture.image %>"></a>
					<div class="caption-full">
						<h4 class="text-center"><a href="<%=picture.author.username%>/<%=picture._id%>"><%=picture.name%></a></h4>
						<em class="text-light text-center">Submitted by <a class="text-light" href="/<%=picture.author.username%>"><%= picture.author.username %></a></em>
					</div>
				</div>
			</div>
		<% }); %>
	  </div>
</div>


<%- include("../partials/footer") %>