<%- include("../partials/header") %>
	
	<div class="container">
		<h1 id="user" class="text-center display-3">
			<% if(currentUser && currentUser._id.equals(id)) { %>
			Your profile
			<% } else { %>
			<%= user %>
			<% } %>
		</h1>
		<%if(currentUser && currentUser._id.equals(id)) { %>
		<div class="container">
			<div class="text-center">
				<a href="/<%=user%>/new"><button class="btn btn-lg-6 btn-sm-4 btn-primary" id="wrapper">Add new picture</button></a>
			</div>
		</div>
		<% } %>
		<div class="row">
			<% pictures.forEach(function(picture){ %>
			<a href="<%=user%>/<%=picture._id%>">
				<div id="shadow" class="square bg" style="background-image: url(<%=picture.image%>)">
   					<div class="content">
        				<div class="table">
							<%if(currentUser && currentUser._id.equals(id)) { %>
							<form class="delete" action="/<%=picture._id%>?_method=DELETE" method="POST">
							<button type="submit" id="completed-task" class="fabutton">
      						<i class="fa fa-trash-o fa-2x" id="thrash"></i>
							</button>
							</form>
							<% } %>
            				<div class="table-cell">
           					</div>
        				</div>
   					</div>
				</div>
			</a>
			<% }) %>
		</div>
	</div>
	
<%- include("../partials/footer") %>
